/* General Styling */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #000;
  background-image: radial-gradient(
      circle at top right,
      rgba(121, 68, 154, 0.13),
      transparent
    ),
    radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
  overflow-x: hidden;
}

.bodyNew {
  background-color: #111;
  color: #fff;
}

/* Container */
.container {
  min-width: 1350px;
  padding: 10px;
}

/* NAVBAR */
.navbar {
  background-color: transparent;
  padding: 1rem;
  z-index: 1;
}

.navbar .navbar-brand img.logo {
  width: 174px;
  height: 100px;
}

.navbar-nav .nav-link {
  margin: 0 10px;
  font-weight: normal;
}

.navbar-nav .nav-link:hover {
  color: #237be7;
  text-decoration: underline;
}

.active-nav {
  background-color: #f8f9fa;
  color: #007bff;
  border-radius: 5px;
}

/* HERO SECTION */
.hero,
.header-section {
  height: 100vh;
  color: white;
  font-family: "Roboto", sans-serif;
  z-index: 10;
  position: relative;
  overflow: hidden;
}

.header-section {
  background-image: url("Slike/Pozadina4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-section canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero h1,
.header-section h1 {
  font-family: "Righteous", cursive;
  font-size: 4rem;
  font-weight: bold;
}

.header-section h1 {
  font-size: 5rem;
  margin-bottom: 16px;
  color: #fff;
}

.hero p,
.header-section p {
  font-size: 1.25rem;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  margin: 20px 0;
}

.hero .btn,
.header-section .btn-primary {
  margin-top: 20px;
  background-color: #237be7;
  border-color: #237be7;
}

.header-section .btn-primary {
  border: none;
  padding: 10px 30px;
  font-size: 1.2rem;
  transition: background-color 0.3s;
}

.header-section .btn-primary:hover {
  background-color: #0056b3;
  color: #fff;
}

.hero .btn:hover {
  background-color: #105ab2;
  border-color: #105ab2;
}

/* MULTIMEDIA SECTION */
.multimedia-sections {
  background-image: url("Slike/Pozadina1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 90px 0;
  color: white;
}

.multimedia-card .card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  padding: 20px;
  border-radius: 20px;
  margin: 20px 0;
  border: 2px solid #237be7;
  min-width: 420px;
  min-height: 380px;
}

.multimedia-card .card-icon img {
  width: 60px;
  height: 60px;
  margin-bottom: 16px;
}

.multimedia-card h3 {
  font-family: "Righteous", cursive;
  font-size: 40px;
  margin-bottom: 16px;
}

.multimedia-card p {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 32px;
}

.multimedia-card .btn {
  background-color: #237be7;
  border-radius: 20px;
  padding: 10px 20px;
}

.multimedia-card .btn:hover {
  background-color: #105ab2;
}

/* JAVASCRIPT EXPLANATION SECTION */
.javascript-explanation {
  background-image: url("Slike/Pozadina2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 90px 0;
  color: white;
}

.explanation-content {
  background-color: #111;
  border: 2px solid #237be7;
  border-radius: 20px;
  padding: 30px;
  color: #fff;
  text-align: left;
}

.explanation-content h2 {
  font-family: "Righteous", cursive;
  font-size: 2.3rem;
  margin-bottom: 20px;
}

.explanation-content p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

.explanation-image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* DOCUMENTATION SECTION */
.documentation-section {
  background-image: url("Slike/Pozadina3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 200px 0;
  color: white;
}

.download-section {
  display: flex;
  flex-direction: column;
  gap: 60px;
  background-color: #111;
  border: 2px solid #237be7;
  border-radius: 20px;
  padding: 40px;
}

.download-section .btn {
  background-color: #237be7;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 170px;
}

.download-section .button-icon {
  width: 24px;
  height: auto;
}

.download-section .btn i {
  margin-right: 10px;
}

.resources-description {
  background-color: #111;
  border: 2px solid #237be7;
  border-radius: 20px;
  padding: 40px;
  max-height: 357px;
}

.resources-description h3 {
  font-family: "Righteous", cursive;
  font-size: 2rem;
  margin-bottom: 20px;
}

.resources-description p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 38px;
}

/* Footer Section */
.footer {
  background-color: #111;
  padding: 40px 0;
  color: white;
}

.footer-logo {
  width: 174px;
  height: 100px;
}

.footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-links li {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin-left: 120px;
}

.footer-links li a {
  color: white;
  text-decoration: none;
}

.footer-links li a:hover {
  text-decoration: underline;
}

.footer-download-section .btn {
  background-color: #237be7;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
  margin-bottom: 50px;
}

.footer-download-section .button-icon {
  width: 24px;
  height: auto;
}

.copyright {
  text-align: center;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  color: #666;
}

/* Button Animations */
.animated-button {
  position: relative;
  display: inline-block;
  padding: 12px 30px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: #237be7;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  z-index: 1;
}

.animated-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: rgba(255, 255, 255, 0.1);
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.5s ease;
  border-radius: 50%;
  z-index: -1;
}

.animated-button:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.animated-button:hover {
  background-color: #1b61c0; /* Darker shade on hover */
}
